.restaurant-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.restaurant-list article {
    background: #005555;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}


.restaurant-list article strong {
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
    line-height: 24px;
    margin-bottom:  35px;
}

.restaurant-list article h1 {
    margin-top: 10px;
    color: #dfdfdf;
    font-size: 16px;
    margin-bottom: 0px;
}


.restaurant-list article p {
    font-size: 11px;
    color: #969685;
    margin-top: 0px;
    line-height: 10px;
}

.restaurant-list article a {
   height: 42px;
   border-radius: 5px;
   border: 2px solid #fb5c61;
   background: none;
   margin-top: 10px;
   color: #fb5c61;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   display: flex;
   justify-content:center;
   align-items:center;
   transition: all 0.5s
}
.restaurant-list article a:hover {
   
    background: #fb5c61;
    color: #fff
 }

 .restaurant-list .actions {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
 }

 .restaurant-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #fb5c61;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s
}

.restaurant-list .actions button:disabled {
    opacity: 0.5;
    cursor: default;
}


.restaurant-list .actions button:hover {
    opacity: 0.7;
}


.restaurant-list .actions button[disabled]:disabled {
    opacity: 0.5;
    
}